.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
cordovaApp/platforms/
# cordovaApp/plugins/
cordovaApp/www

build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
/build

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
